.HangmanWord {
    display: flex;
    gap: .25em;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
    /* width: 800px; */
}

.span-bottom {
    border-bottom: .1em solid black;
}

.span-word {
    visibility: visible;
}

.span-word-hidden {
    visibility: hidden;
}

.red {
    color: red;
}

.black {
    color: black;
}

@media screen and (max-width: 800px) {
    .HangmanWord {
        font-size: 2.5rem;
    }
}